{#
/**
 * @file webpay-transaction.html.twig
 * Default theme implementation to present Webpay Transaction data.
 *
 * This template is used when viewing Webpay Transaction pages.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_webpay_transaction()
 *
 * @ingroup themeable
 */
#}
{% set view_mode = elements['#view_mode'] %}
{% set classes = ['view-mode-' ~ view_mode, 'webpay_transaction'] %}
<div{{ attributes.addClass(classes) }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
